$Lato: 'Lato', sans-serif;
$Lato300: 300;
$Lato400: 400;
$Lato600: 600;
$Lato700: 700;
$Lato900: 900;

$Merriweather: 'Merriweather', sans-serif;
$Merriweather300: 300;
$Merriweather400: 400;
$Merriweather600: 600;
$Merriweather700: 700;
$Merriweather900: 900;