@mixin fontNavi {
    list-style: none;
    font-size: 24px;
    gap: 20px;
}

*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, span {
    font-family: 'Merriweather', sans-serif;
}

p, a {
    font-family: 'Lato', sans-serif;
}

#desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 10vw 43px 10vw;
    margin: auto;
}

#mobile-header {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-container span {
    color: #005FA3;
    font-size: 36px;
    font-weight: 900;
}

#navi-list-desktop {
    display: flex;
    @include fontNavi()
}

.navi-li {
    position: relative;
}

.navi-li::after {
    content: '';
    position: absolute;
    display: none;
    border-bottom: solid black 3px;
    width: 100%;
    bottom: -10px;
    left: 0;
}

.navi-li:hover::after {
    display: inline-block;
}

.navi-li:hover {
    cursor: pointer;
    opacity: 0.8;
}

#burger-icon {
    display: none;
}

#burger-icon:hover {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #ebebeb;
    border: 3px solid black;
    border-radius: 5px;
}

.black-line {
    height: 3px;
    background-color: #000;
    border-radius: 5px;
}

/////// 2 //////

#main-container-2 {
    padding: 170px 20vw 113px 10vw;
    background: url("https://cdn2.thecatapi.com/images/NwMUoJYmT.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
}

#main-container-2 h1 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 80px;
}

#description-button {
    background-color: #005FA3;
    color: #fff;
    padding: 19px 35px;
    border: none;
    margin-bottom: 120px;
    border-radius: 5px;
}

#description-button:hover {
    cursor: pointer;
    height: 53px;
    background-color: #fff;
    border: 3px solid #005fa3;
    color: #005fa3;
    border-radius: 5px;
    text-align: center;
}

#sliders1 {
    display: flex;
    justify-content: space-between;
}

#divider-white {
    height: 60px;
    width: 1px;
    background-color: #fff;
}

// #background-image {
//     position: absolute;
//     right: 0;
//     top: 0;
//     z-index: -1;
//     width: 100%;
//     height: 50%;
//     object-fit: fill;
// }

#circle-slider {
    display: flex;
    gap: 40px;
    margin-bottom: 113px;
}

.circle {
    background-color: #fff;
    opacity: 0.4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle:hover {
    opacity: 0.8;
    cursor: pointer;
}

#button-slider {
    display: flex;
}

.btn-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.4;
    width: 60px;
    height: 60px;
}

.btn-switch:hover {
    opacity: 0.8;
    cursor: pointer;
}

////// 3 ////

#main-container-3 {
    background-color: #ebebeb;
    padding: 140px 20vw 140px 10vw;
}

#main3-header p {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}

#main3-header h1 {
    color: #333;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 102px;
}

#main3-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.boxes {
    position: relative;
    display: flex;
    align-items: end;
    background-image: url("../assets/main3/images/rectangle2.svg");
    width: 350px;
    height: 360px;
    padding-bottom: 45px;
    padding-left: 45px;
}
  
.boxes::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005FA3;
    box-shadow: 5px 5px 5px 5px #005FA3; 
    opacity: 0;
    transition: opacity 0.5s;
}
  
.boxes:hover::after {
    opacity: 0.2;
    cursor: pointer;
}

.boxes p {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}

.boxes p:hover {
    cursor: pointer;
}

// 4 //

#main-container-4 {
    background-color: #f9f9f9;
    display: flex;
    padding: 140px 20vw 140px 10vw;
    gap: 125px;
}

#main4-text {
    width: 50%;
}

.grey-text {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}

#cat-name-2 {
    color: #333;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 60px;
}

#description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

#main4-boxes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.box {
    width: 255px;
    height: 255px;
    background-color: #ebebeb;
    padding: 30px 0 40px 40px;
}

.abyssinian {
    padding-left: 20px;
}

.maine {
    padding-top: 10px;
}

.box:hover {
    color: #fff;
    background-color: #005fa3;
}

.box:hover .show-info {
    color: #fff;
}

.box h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 10%;
    margin-bottom: 30px;
}

.box p {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 47px;
}

.show-info {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #005FA3;
}

.show-info::after {
    content: '';
    position: absolute;
    display: none;
    border-bottom: solid white 3px;
    width: 91px;
    bottom: -10px;
    left: 0;
}

.show-info:hover::after {
    display: inline-block;
}

.show-info:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #desktop-header {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 764px) {

    #desktop-header {
        display: none;
    }

    #mobile-navi {
        display: flex;
        justify-content: space-between;
        padding: 33px 10vw 43px 10vw;
    }

    #mobile-header {
        display: flex;
        flex-direction: column;
    }

    #burger-icon {
        display: flex;
    }

    #navi-list {
        display: none;
        text-align: center;
        @include fontNavi();
        margin-top: -33px;
        margin-bottom: 30px;
    }
}